.country-selector-list {

}

.country-selector-list li {
    margin: 0 0 10px 0;
}

    .country-selector-list li strong {
        color: #287BC7;
        line-height: 2;
    }

.css3-loader {
    height: 44px;
    position: absolute;
    width: 128px;
}

.css3-loader .css3-spinner {
    background-color:#B83D6E;
    position:absolute;
    top:0;
    left:0;
    width:44px;
    height:44px;
    -moz-border-radius:22px;
    -moz-animation-name:bounce_ball;
    -moz-animation-duration:1.8s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-delay:0s;
    -moz-transform:scale(0.5, 1);
    -webkit-border-radius:22px;
    -webkit-animation-name:bounce_ball;
    -webkit-animation-duration:1.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-transform:scale(0.5, 1);
    -ms-border-radius:22px;
    -ms-animation-name:bounce_ball;
    -ms-animation-duration:1.8s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -ms-animation-delay:0s;
    -ms-transform:scale(0.5, 1);
    -o-border-radius:22px;
    -o-animation-name:bounce_ball;
    -o-animation-duration:1.8s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    -o-animation-delay:0s;
    -o-transform:scale(0.5, 1);
    border-radius:22px;
    animation-name:bounce_ball;
    animation-duration:1.8s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:0s;
    transform:scale(0.5, 1);
}

@-moz-keyframes bounce_ball {
    0%{
        left:0px;
        -moz-transform:scale(0.5, 1);
    }

    25%{
        left:42px;
        -moz-transform:scale(1, 0.5);
    }

    50%{
        left:106px;
        -moz-transform:scale(0.5, 1);
    }

    75%{
        left:42px;
        -moz-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -moz-transform:scale(0.5, 1);
    }
}

@-webkit-keyframes bounce_ball {
    0%{
        left:0px;
        -webkit-transform:scale(0.5, 1);
    }

    25%{
        left:42px;
        -webkit-transform:scale(1, 0.5);
    }

    50%{
        left:106px;
        -webkit-transform:scale(0.5, 1);
    }

    75%{
        left:42px;
        -webkit-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -webkit-transform:scale(0.5, 1);
    }
}

@-ms-keyframes bounce_ball {
    0%{
        left:0px;
        -ms-transform:scale(0.5, 1);
    }

    25%{
        left:42px;
        -ms-transform:scale(1, 0.5);
    }

    50%{
        left:106px;
        -ms-transform:scale(0.5, 1);
    }

    75%{
        left:42px;
        -ms-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -ms-transform:scale(0.5, 1);
    }
}

@-o-keyframes bounce_ball {
    0%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }

    25%{
        left:42px;
        -o-transform:scale(1, 0.5);
    }

    50%{
        left:106px;
        -o-transform:scale(0.5, 1);
    }

    75%{
        left:42px;
        -o-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }
}

@keyframes bounce_ball {
    0%{
        left:0px;
        transform:scale(0.5, 1);
    }

    25%{
        left:42px;
        transform:scale(1, 0.5);
    }

    50%{
        left:106px;
        transform:scale(0.5, 1);
    }

    75%{
        left:42px;
        transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        transform:scale(0.5, 1);
    }
}
